@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Reset and Basics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E5E8E1;
    /* Updated to match your body style */
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Card Styles */
.card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

/* List Group Item */
.list-group-item {
    border: none;
    padding: 15px 20px;
    cursor: pointer;
}

.list-group-item:hover,
.list-group-item.active {
    background-color: #5cb85c;
    color: white;
}

/* Form Control Styles */
.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 15px;
}

/* Button Styles */
.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Loader Styles */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: '';
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .list-group-item,
    .tab-content {
        padding: 10px;
    }
}

/* Password visibility toggle */
.password-input {
    position: relative;
}

.password-input input[type="password"] {
    padding-right: 30px;
}

.password-input .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Toggle eye icon */
.password-input .fas.fa-eye-slash {
    display: none;
}

.password-input .fas.fa-eye {
    display: block;
}

.modal-dialog {
    max-width: 95%;
    /* Adjust this value based on your layout */
    margin: 30px auto;
}

.modal-content {
    overflow: hidden;
    /* Ensures nothing spills out of the modal */
}

#imageToCrop {
    max-width: 100%;
    /* Ensures the image fits within the modal */
    height: auto;
    /* Maintains aspect ratio */
}

@keyframes rgbBorderTrail {

    0%,
    100% {
        border-image: linear-gradient(to right,
                rgb(255, 0, 0) 0%,
                rgb(0, 255, 0) 33%,
                rgb(0, 0, 255) 66%,
                rgb(255, 0, 0) 100%);
        border-image-slice: 1;
    }

    25% {
        border-image: linear-gradient(to right,
                rgb(0, 255, 0) 0%,
                rgb(0, 0, 255) 33%,
                rgb(255, 0, 0) 66%,
                rgb(0, 255, 0) 100%);
        border-image-slice: 1;
    }

    50% {
        border-image: linear-gradient(to right,
                rgb(0, 0, 255) 0%,
                rgb(255, 0, 0) 33%,
                rgb(0, 255, 0) 66%,
                rgb(0, 0, 255) 100%);
        border-image-slice: 1;
    }

    75% {
        border-image: linear-gradient(to right,
                rgb(255, 0, 0) 0%,
                rgb(0, 255, 0) 33%,
                rgb(0, 0, 255) 66%,
                rgb(255, 0, 0) 100%);
        border-image-slice: 1;
    }
}

#cardHold {
    border: 5px solid transparent;
    /* Ensure the border is present */
    animation: rgbBorderTrail 8s linear infinite;
}